.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  main{
    max-width: 1000px;
    margin: 0 auto;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------------------shear code--------------------------------- */
.sub-title{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 0 73px 32px 73px;
}
.sub-title-layer{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.btn{
    box-sizing: border-box;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    cursor: pointer;
}


/* ------------------header>banner-section-------------------- */
header{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 580px;
}
.banner-section{
    max-width: 1000px;
    margin: 0 auto;
}
.banner-section h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-bottom: 24px;
}
.banner-section a{
    text-decoration: none;
    background-color: black;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    color: white;
    transition: 2s;
}
.banner-section a:hover{
    background-color: lightskyblue;
    color: black;
}
/* ----------------------------main>headline--------------- */
.parent-layer{
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-bottom: 88px;
}
.head-line{
    text-align: center;
}
.head-line p{
    margin: 24px 0 48px 0;
}
/* ---------------------------end------------------- */

/* ----------------Layer-item------------------------- */
.Layer-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.layer-item {
    border-radius: 16px;background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}
.layer-item h5{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}
.layer-item p{
    padding-bottom: 32px;
}
/* -------------------lear-2------- */
.layer-item-2{
    display: flex;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.layer-item-2 h5{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}
.layer-item-2 p{
    padding-bottom: 32px;
}
/* ----------------------------layers end---------------------------------- */

.inspiration-section{
    text-align: center;
}
.inspiration-section h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration-section p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}
.video{
    box-sizing: border-box;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-bottom: 150px;
}
/* ---------------------------------my parent-target-------------------------------------------------- */
.my-target h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.my-target p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
}
.parent-target{
    display: flex;
    gap: 24px;
    margin-bottom: 111px;
}
.html-box{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.html-box h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin: 8px 0px;
}
.html-box p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 8px 0px;
    text-align: left;
    opacity: 0.7;
}
.html-box a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}
.css-box{
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.css-box h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin: 8px 0px;
}
.css-box p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 8px 0px;
    text-align: left;
    opacity: 0.7;
}
.css-box a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}
.js-box{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.js-box h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin: 8px 0px;
}
.js-box p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 8px 0px;
    text-align: left;
    opacity: 0.7;
}
.js-box a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
}
/* ---------------End-My-Target--------- */

footer{
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 48px 64px 48px;
    width: 1140px;
    height: 313px;
    left: 150px;
    right: 150px;
    top: 4752px;
    background-position: center;
    border-radius: 16px;
}
.footer-box h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 19px;
}
.footer-box p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 40px;
}
.form{
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: white;
}
.form-text{
    width: 548px;
    height: 57px;
    margin: 0px 16px;
    box-sizing: border-box;
    border-radius: 8px;
    background: transparent;
    color: white;
    border: 2px solid rgb(162, 154, 154);
    backdrop-filter: blur(10px);

}
.btn-2{
    margin: 0px 16px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    border: none;
    background: transparent;
    color: white;
    border: 2px solid rgb(162, 154, 154);
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.form input::placeholder{
    color: white;
}
/* ---------------All-End--- */
.credit{
    display: flex;
}
